BACKEND_URL=http://localhost:5173
WORKER_API_KEY=local-worker-dev-key
WORKER_ID=local-pc-1
WORKER_WORKSPACE=workspace
WORKER_API_HOST=127.0.0.1
WORKER_API_PORT=8765
WORKER_CONTROL_API_KEY=local-worker-dev-key
